@model Metanit.Models.Purchase
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link type="text/css" rel="stylesheet" href="../../Content/Site.css" />
</head>
<body>
    <div>
        <h3>Форма оформления покупки</h3>
        @using (Html.BeginForm())
        {

            @Html.HiddenFor(m => m.BookId)
            @Html.LabelFor(m => m.Person,"Введите своё имя") <br />
            @Html.TextBoxFor(m=>m.Person)
            <br /><br />
            @Html.LabelFor(m=>m.Adress,"Введите адрес")
            <br />
            @Html.TextBoxFor(m=>m.Adress)
            <p><input type="submit" value="Отправить" /></p>
        }
    </div>
</body>
</html>
