@model Metanit.Models.User

<div class="section" id="education">
    <div class="container cc-education">
        <div class="h4 text-center mb-4 title">Образование</div>
        @foreach (var item in @Model.Educations)
        {
            //TODO: сделать вспомогательный метод
            string endDate = "", beginDate = item.BeginDate.ToString("MMMM yyyy");
            if (item.EndDate == null)
            {
                endDate = "по настоящее время";
            }
            else
            {
                endDate = item.EndDate.ToString("MMMM yyyy");
            }

            <div class="card">
                <div class="row">
                    <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body cc-education-header">
                            <p>@beginDate - @endDate</p>
                            <div class="h5">@item.Level</div>
                        </div>
                    </div>
                    <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
                        <div class="card-body">
                            <h5>@item.Name</h5>
                            <p class="category">@item.Adress</p>
                            <p>@item.About</p>
                        </div>
                    </div>
                </div>
            </div>
        }

    </div>
</div>
