@using Metanit.Helpers;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-content">
    <div>
        @Html.Partial("MyProfile")

        @Html.Partial("About")

        @Html.Partial("Skills")

        @Html.Partial("Portfolio")

        @Html.Partial("Education")

        @Html.Partial("Experience")

        @Html.Partial("Contacts")

    </div>
</div>
